<div class="header">

    <div class="header-container">
        <h1> Reach the largest remote community on the web
        </h1>
        <div align="center" class='column'>

            <div class="form_bg">

                <mat-horizontal-stepper [linear]="isLinear" #stepper>
                    <mat-step [stepControl]="jobdetailForm">
                        <form [formGroup]="jobdetailForm" class="form-field">
                            <ng-template matStepLabel>Step 1
                                <h2>Post a job</h2>
                            </ng-template>

                            <div *ngIf="error === true" class="error" style="width: 800px; margin-left: 75px; margin-top: 20px ;    ">
                                <ul>

                                    <li style="color: rgb(253, 2, 2)" *ngIf="message['jobTitle']">
                                        <h4> {{message.jobTitle.message}} </h4>
                                    </li>

                                    <li style="color: rgb(253, 2, 2)" *ngIf="message['category']">
                                        <h4>{{message.category.message}} </h4>
                                    </li>

                                    <li style="color: rgb(253, 2, 2)" *ngIf="message['companyhq']">
                                        <h4>{{message.companyhq.message}} </h4>
                                    </li>

                                    <li style="color: rgb(253, 2, 2)" *ngIf="message['howtoapply']">
                                        <h4>{{message.howtoapply.message}} </h4>
                                    </li>

                                    <li style="color: rgb(253, 2, 2)" *ngIf="message['jobdescription']">
                                        <h4>{{message.jobdescription.message}}</h4>
                                    </li>

                                    <li style="color: rgb(253, 2, 2)" *ngIf="message['companyName']">
                                        <h4>{{message.companyName.message}}</h4>
                                    </li>

                                    <li style="color: rgb(253, 2, 2)" *ngIf="message['companyWebsiteUrl']">
                                        <h4>{{message.companyWebsiteUrl.message}}</h4>
                                    </li>
                                    <li style="color: rgb(253, 2, 2)" *ngIf="message['email']">
                                        <h4>{{message.email.message}}</h4>
                                    </li>




                                </ul>


                            </div>

                            <h2 style="color: rgb(253, 2, 2); padding-top: 20px; margin-left: 75px;">First, tell us about the position
                            </h2>
                            <h5 style="color: #909294; padding-top: 20px; margin-left: 350px;">REQUIRED FIELDS</h5>
                            <h4 style="color: rgb(253, 2, 2); padding-top: 16px; margin-left: 5px;">●</h4>
                            <!-- <mat-label style="color: rgb(253, 2, 2);"> ●</mat-label> -->

                            <div class="form-group" style="width: 800px; margin-left: 75px;">
                                <mat-form-field style="width: 800px">

                                    <mat-label style="color: black">
                                        Job Title
                                        <mat-label style="color: rgb(253, 2, 2);"> ●</mat-label>
                                    </mat-label>
                                    <br/>
                                    <input matInput type="text" formControlName="jobTitle">
                                    <mat-error *ngIf="jobdetailForm.controls['jobTitle'].hasError('required')"> Job Title is Required</mat-error>


                                </mat-form-field>
                                <h5 style="color: #909294;">
                                    Example: “Senior Designer”. Titles must describe one position.</h5>

                            </div>

                            <div class="form-group" style="width: 400px;margin-left: 75px;">
                                <mat-form-field style="width: 350px;">
                                    <mat-label style="color: black">
                                        Category
                                        <mat-label style="color: rgb(253, 2, 2);"> ●</mat-label>
                                    </mat-label>
                                    <br/>
                                    <mat-select formControlName="category" color="accent">

                                        <mat-option selected="" value="1">Design</mat-option>
                                        <mat-option value="2">Programming</mat-option>
                                        <mat-option value="7">Customer Support</mat-option>
                                        <mat-option value="5">Copywriting</mat-option>
                                        <mat-option value="6">DevOps &amp; Sysadmin</mat-option>
                                        <mat-option value="9">Sales &amp; Marketing</mat-option>
                                        <mat-option value="3">Business &amp; Management</mat-option>
                                        <mat-option value="10">Finance &amp; Legal</mat-option>
                                        <mat-option value="11">Product</mat-option>
                                        <mat-option value="13">Administrative</mat-option>
                                        <mat-option value="14">Education</mat-option>
                                        <mat-option value="15">Translation &amp; Transcription</mat-option>
                                        <mat-option value="16">Medical/Health</mat-option>
                                        <mat-option value="4">All Other</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="jobdetailForm.controls['category'].hasError('required')"> Category is Required</mat-error>
                                </mat-form-field>
                            </div>
                            <br>
                            <div class="form-group" style="width: 350px; margin-left: 50px;">
                                <mat-label style="color: black">
                                    <b>
                                Job Type</b>
                                    <mat-label style="color: rgb(253, 2, 2);"> ●</mat-label>
                                </mat-label>
                                <br><br>
                                <mat-radio-group formControlName="jobType">

                                    <mat-radio-button value="fullTime">Full Time</mat-radio-button>
                                    <mat-radio-button value="contract" style="margin-left: 75px;">Contract</mat-radio-button>
                                    <br>
                                    <br>
                                    <!-- <mat-error *ngIf="jobdetailForm.controls['jobType'].hasError('required')"> <small>
                                        Job Type is Required </small></mat-error> -->
                                </mat-radio-group>

                            </div>
                            <br>
                            <br>
                            <div class="form-group" style="width: 400px; margin-left: 75px">
                                <mat-form-field style="width: 350px">
                                    <mat-label style="color: black">
                                        Company HQ
                                        <mat-label style="color: rgb(253, 2, 2);"> ●</mat-label>
                                    </mat-label>
                                    <br/>
                                    <input matInput type="text" formControlName="companyhq">

                                    <br>
                                    <mat-error *ngIf="jobdetailForm.controls['companyhq'].hasError('required')"> Company HQ is Required </mat-error>
                                </mat-form-field>
                                <h5 style="color: #909294;"> Example: “Chicago, IL”, “Stockholm, Sweden”</h5>
                            </div>
                            <br>
                            <div class="form-group" style="width: 350px; margin-left: 50px;">
                                <mat-form-field style="width: 350px">
                                    <mat-label style="color: black">
                                        Regional Restrictions
                                    </mat-label>
                                    <br/>
                                    <mat-select formControlName="state" color="accent">

                                        <mat-option value="Anywhere (100% Remote) Only">Anywhere (100% Remote) Only</mat-option>
                                        <mat-option value="USA Only">USA Only</mat-option>
                                        <mat-option value="North America Only">North America Only</mat-option>
                                        <mat-option value="Europe Only">Europe Only</mat-option>
                                        <mat-option value="Americas Only">Americas Only</mat-option>
                                        <mat-option value="Canada Only">Canada Only</mat-option>
                                        <mat-option value="EMEA Only">EMEA Only</mat-option>
                                        <mat-option value="Asia Only">Asia Only</mat-option>
                                        <mat-option value="Africa Only">Africa Only</mat-option>
                                        <mat-option value="Other">Other</mat-option>
                                    </mat-select>
                                    <br>
                                    <mat-error *ngIf="jobdetailForm.controls['state'].hasError('required')">Regional Restrictions is Required </mat-error>
                                </mat-form-field>
                            </div>
                            <br>
                            <div class="form-group" style="width: 800px; margin-left: 75px;">
                                <mat-form-field style="width: 800px">
                                    <mat-label style="color: black">
                                        How to Apply
                                        <mat-label style="color: rgb(253, 2, 2);"> ●</mat-label>
                                    </mat-label>
                                    <br/>
                                    <input matInput type="text" formControlName="howtoapply">
                                    <br>
                                    <mat-error *ngIf="jobdetailForm.controls['howtoapply'].hasError('required')">How to Apply is Required </mat-error>
                                </mat-form-field>
                            </div>
                            <br>

                            <div class="form-group" style="width: 800px; margin-left: 75px">
                                <div style="width: 800px; margin-top: 20px;">
                                    <mat-label style="color: black">
                                        Job Description
                                        <mat-label style="color: rgb(253, 2, 2);"> ●</mat-label>
                                    </mat-label>
                                    <br/>
                                    <br>
                                    <quill-editor matInput #editor1 [modules]="modules" formControlName="jobdescription" (contentChanged)="logChange($event);">

                                    </quill-editor> <br>
                                    <!-- <mat-error *ngIf="jobdetailForm.controls['jobdescription'].hasError('required')"> <small> Job Description is Required </small> </mat-error> -->

                                </div>
                            </div>
                            <h2 style="color: rgb(253, 2, 2); padding-top: 20px; width:800px; margin-left: 75px">Tell Us More About Your Company</h2>
                            <h5 style="color: #909294; margin-left: 75px">
                                <b>
                            Posted before?</b> Just enter your
                                <b>email</b> and
                                <b>logo</b>, all other info will be pulled in from your last position!</h5>
                            <br>
                            <div class="form-group" style="width: 800px; margin-left: 75px">
                                <mat-form-field style="width: 800px">
                                    <mat-label style="color: black">
                                        Company Name
                                        <mat-label style="color: rgb(253, 2, 2);"> ●</mat-label>
                                    </mat-label>
                                    <br>
                                    <input matInput formControlName="companyName" name="companyName"><br>
                                    <mat-error *ngIf="jobdetailForm.controls['companyName'].hasError('required')">Company Name is Required </mat-error>

                                </mat-form-field>
                                <h5 style="color: #909294;">
                                    Enter your company or organization’s name.
                                </h5>
                            </div>
                            <br>
                            <div class="form-group" style="width: 800px; margin-left: 75px">
                                <mat-form-field style="width: 800px">
                                    <mat-label style="color: black">
                                        Company Statement
                                    </mat-label>
                                    <br>
                                    <input matInput formControlName="companyStatement" name="companyStatement">

                                </mat-form-field>

                                <h5 style="color: #909294;">
                                    Enter your company or organization’s mission statement. This will be displayed on your company’s profile.</h5>
                            </div>


                            <!-- <div class="form-group" style="width: 800px; margin-left: 75px">

                                <div [fileUploadInputFor]="fileUploadQueue" class="upload-drop-zone">
                                    Just drag and drop files here
                                </div>


                                <div style="width: 800px">
                                    <mat-file-upload-queue #fileUploadQueue [fileAlias]="'file'" [httpUrl]="" multiple>

                                        <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
                                    </mat-file-upload-queue>
                                </div>


                            </div> -->









                            <div class="form-group" style="width: 400px; margin-left: 75px">
                                <mat-form-field style="width: 350px">
                                    <mat-label style="color: black">
                                        Company's Website URL
                                        <mat-label style="color: rgb(253, 2, 2);"> ●</mat-label>
                                    </mat-label>
                                    <br/>
                                    <input matInput type="text" formControlName="companyWebsiteUrl">
                                    <br>
                                    <mat-error *ngIf="jobdetailForm.controls['companyWebsiteUrl'].hasError('required')">Company's Website URL is Required </mat-error>
                                </mat-form-field>
                                <h5 style="color: #909294;">Example: https://mybusiness.com/</h5>
                            </div>
                            <br>
                            <div class="form-group" style="width: 400px; margin-left: 50px">
                                <mat-form-field style="width: 350px">
                                    <mat-label style="color: black">
                                        Email
                                        <mat-label style="color: rgb(253, 2, 2);"> ●</mat-label>
                                    </mat-label>
                                    <br/>
                                    <input matInput type="email" formControlName="email">
                                    <br>
                                    <mat-error *ngIf="jobdetailForm.controls['email'].hasError('required')">Email is Required </mat-error>

                                </mat-form-field>
                                <h5 style="color: #909294;">We’ll send your receipt and confirmation email here.</h5>
                            </div>
                            <br>
                            <br>
                            <div class="form-group" style="width: 800px; margin-left: 75px; margin-bottom: 20px;">
                                <div style="width: 800px; margin-top: 20px;">
                                    <mat-label style="color: black">
                                        Company Description
                                    </mat-label>
                                    <br/>
                                    <br>
                                    <quill-editor matInput #editor2 [modules]="modules" formControlName="companydescription" (contentChanged)="logChange($event);">

                                    </quill-editor>
                                </div>
                            </div>
                        </form>

                        <div class="formcard">
                            <form class="form-card">

                                <h2 style="color: rgb(253, 2, 2); padding-top: 20px; margin-left: 75px;">Help Your Ad Stand Out

                                </h2>
                                <h5 style="color: #909294; padding-top: 20px; margin-left: 340px;">OPTIONAL, BUT HIGHLY RECOMMENDED</h5>



                                <div class="flex-container">

                                    <mat-card class='child'>
                                        <h4 style="margin-top:3px;margin-left:75px;">GOOD</h4>
                                        <h2 style="margin-top:2px;margin-left:70px;">$59</h2>

                                        <p>Highlight your ad</p>
                                        <p>Share in WWR Slack channels</p>
                                        <p>2x Social media posts</p>
                                        <p>Monthly stats email</p>
                                        <p>Display your company logo</p>
                                        <p>Pin ad for 7 days on main page</p>
                                        <p>Featured email placement</p>



                                    </mat-card>
                                    <mat-card class="child">
                                        <h4 style="margin-top:3px;margin-left:75px;">BETTER</h4>
                                        <h2 style="margin-top:2px;margin-left:75px;">$89</h2>
                                        <hr style="color: grey;">
                                        <p>Highlight your ad</p>
                                        <p>Share in WWR Slack channels</p>
                                        <p>2x Social media posts</p>
                                        <p>Monthly stats email</p>
                                        <p>Display your company logo</p>
                                        <p>Pin ad for 7 days on main page</p>
                                        <p>Featured email placement</p>

                                    </mat-card>
                                    <mat-card class="child">
                                        <h4 style="margin-top:3px;margin-left:75px;">BEST</h4>
                                        <h2 style="margin-top:1px;margin-left:70px;">$139</h2>
                                        <hr style="color: grey;">
                                        <p>Highlight your ad</p>
                                        <p>Share in WWR Slack channels</p>
                                        <p>2x Social media posts</p>
                                        <p>Monthly stats email</p>
                                        <p>Display your company logo</p>
                                        <p>Pin ad for 7 days on main page</p>
                                        <p>Featured email placement</p>
                                    </mat-card>

                                    <h5 style="margin-top: 1px; margin-left: 400px;color: #909294;">GETS 2X THE VISIBILITY</h5>
                                    <h5 style="margin-top: 1px; margin-left: 150px;color: #909294;">GETS 4X THE VISIBILITY</h5>
                                </div>
                            </form>

                        </div>

                        <div class="form-group" style="margin-top: 50px; margin-left: 810px;">
                            <button mat-flat-button="" [disabled]="jobdetailForm.invalid" color="warn" class="custom" (click)="save(jobdetailForm)">Continue to Step 2
                           </button>
                        </div>


                    </mat-step>
                    <mat-step [stepControl]="">
                        <ng-template matStepLabel>Step 2

                            <h2>Preview your ad </h2>
                        </ng-template>

                    </mat-step>
                    <mat-step [stepControl]="">
                        <ng-template matStepLabel>Step 3

                            <h2>Purchase </h2>
                        </ng-template>

                    </mat-step>
                </mat-horizontal-stepper>
            </div>
        </div>
    </div>