.header {
    display: flex;
    flex-wrap: wrap;
}

.header-container h1 {
    margin-left: 400px;
    padding-bottom: 100px;
    margin-right: 400px;
}


/* .header-container {
    background-color: lightcoral;
} */

.form_bg {
    height: 1300px;
    width: 1000px;
    text-align: left;
}

.form-field {
    margin-top: 100px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px 2px #d1cccc;
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 1px;
}

.formcard {
    margin-top: 100px;
    height: 720px;
    width: 952px;
    text-align: left;
}

.form-card {
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-shadow: 1px 1px 2px 2px #d1cccc;
    border: 1px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 60px;
}

.child {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-bottom: 20px;
    justify-content: flex-start;
    border: solid 1px;
    /* box-shadow: 1.5px 1.5px 2px 2px #d1cccc; */
}

.error {
    background-color: rgb(253, 188, 176);
    border-radius: 5px 5px 5px 5px;
}


/* .form-group {
    background-color: mintcream;
} */